<div class = "container">
  <div class = "row">
   <div class = "col-md-3">
    <%= render 'books/list', book: @book, user_id: @user_id %>
     <div class = "col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class = "table table-striped">
        <tbody>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
            <% @books.each do |f| %>
             <tr>
             <td>
              <%= link_to user_path do %>
               <%= image_tag f.get_profile_image, size: "100x100" %>
              <% end %>
             </td>
                <td>
                  <%= link_to book_path(f) do %>
                   <%= f.title %>
                  <% end %>
                </td>
              <td>
                <%= f.body %>
              </td>
             </tr>
            <% end %>
        </tbody>
      </table>
     </div>
   </div>
  </div>
</div>