


      <h1>User info</h1>
      <%= image_tag user_id.get_profile_image, size: "100x100" %>
      <table class = "table table-striped">
       <tbody>
         <tr>
           <th>
             name
           </th>
           <th>
             <%= user_id.name %>
           </th>
         </tr>
         <tr>
           <th>
             introduction
           </th>
           <th>
             <%= user_id.introduction %>
           </th>
         </tr>
       </tbody>
      </table>
       <%= link_to edit_user_path(user_id), class: "btn  btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
       <% end %>
      <h1>New book</h1>
      <%= form_with model: book, method: :post do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>

        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <%= f.submit "Create Book", class: "btn btn-success" %>

      <% end %>
    </div>